/** 
 * CSS Styles for OMX Graphics Woocommerce customizations plugin
 * Version 1.0.13
 * (version above is equal with main plugin file version when this file was updated)
 */

/* Few temporary styles */
/* just keep it high enough to fill the screen (at least while building the website) */
div#content {min-height: 100vh;}

/* === General usage rules */
.omx_orange {
	color: #e8bc1f;
}
.omx_kepler {
	font-family: Kepler296;
}
.omx_equalmargins {
	margin: 10px !important;
}
/* === Header styling:  */
/* Fixed main header - and its dependencies */
header#masthead {
	position: fixed;
	margin-top: 0px !important;
	width: 100%;
	z-index: 999900; 
	transition: all 0.25s cubic-bezier(0.65, 0, 0.26, 0.99);
}
/* Move the header up when scrolled (based on class added via JS) */
					   @media (min-width: 1361px) { .omx-scrolled header#masthead { transform: translateY(-114px); } }
@media (max-width: 1360px) and (min-width: 768px) { .omx-scrolled header#masthead { transform: translateY(-100px); } }
@media (max-width: 767px)  and (min-width: 426px) { .omx-scrolled header#masthead { transform: translateY(-100px);} }
@media (max-width: 425px)  and (min-width: 371px) { .omx-scrolled header#masthead { transform: translateY(-95px);} }
						@media (max-width: 370px) { .omx-scrolled header#masthead { transform: translateY(-90px);} }
/* Adjust header position in case Admin Bar is present */
@media (min-width: 783px) { .admin-bar.omx-scrolled header#masthead { margin-top:-32px !important } }
@media (max-width: 782px) { .admin-bar.omx-scrolled header#masthead { margin-top:-46px !important } }
/* Also adjust Notification Bar position in case Admin Bar is present */
@media (min-width: 783px) { .admin-bar.omx-scrolled #wpfront-notification-bar-spacer { transform: translateY(-32px) !important; position: sticky; } }
@media (max-width: 782px) { .admin-bar.omx-scrolled #wpfront-notification-bar-spacer { transform: translateY(-46px) !important; position: sticky; } }
/* Some logo and branding styles */
.main-header-bar .site-branding { 
	padding: 0; 
	display: block !important;
    width: 100%;
    text-align: center !important;
	min-height: 90px;
}
.main-header-bar .ast-site-identity {
    width: auto !important;
}
.main-header-bar .site-description { 
	text-transform: uppercase; 
	text-align: center; 
}
@media(max-width:425px) {
    .main-header-bar .site-branding a {
        font-size: 80%;
    }
	.main-header-bar .site-description {
		font-size: 66%;
	}
}
/* move up the shop icon a bit to compensate for the "bag handle" */
div#ast-site-header-cart {
	margin-bottom: 8px;
} 
/* Styling the main menu */
header#masthead nav#site-navigation {
    /* height: 65px; */
}
.main-header-bar-wrap > .main-header-bar {
    padding-top: 5px;
}
#primary-menu > li.menu-item > a {
    font-family: Kepler296;
    text-transform: uppercase;
}
@media (max-width:960px) {
	.omx-scrolled .main-header-container .woocommerce-custom-menu-item {
		margin-left: 60px;
	}
	#primary-menu > li.menu-item > a {
		font-size: 11px;
	}
}
@media (min-width:961px) {
	.omx-scrolled .main-header-container .ast-main-header-bar-alignment {
		margin-left: 60px;
	}
	#primary-menu > li.menu-item > a {
		font-size: small;
	}
}
.omx-scrolled .site-branding {
    opacity: 0;
    transition: opacity .2s;
}
.omx-scrolled span.site-logo-img {
    display: none;
}
@media (min-width: 961px) and (max-width: 1360px) {
	.menu-item button.ast-menu-toggle {
		height: 54px;
		line-height: unset !important;
	}
	.menu-item button.ast-menu-toggle::before {
		line-height: 100%;
		display: block !important;
	}
}
@media (max-width: 960px) {
	.menu-item button.ast-menu-toggle {
		height: 34px;
		line-height: unset !important;
	}
	.menu-item button.ast-menu-toggle::before {
		line-height: 100%;
		display: block !important;
	}
}
/* Adding the logo at the left of menu when scrolling */
@media (min-width: 1361px) {
	.main-header-bar .ast-main-header-bar-alignment {
		position: relative;
	}
	.omx-scrolled .main-header-bar .ast-main-header-bar-alignment:before {
		content: url(/wp-content/uploads/2020/01/omx_logo_sq32_b.png);
		position: absolute;
		width: 32px;
		height: 32px;
		display: inline-block;
		left: -40px;
		top: 10px;
	}
}
@media (max-width: 1360px) {
	.omx-scrolled .main-header-bar .ast-masthead-custom-menu-items.woocommerce-custom-menu-item:before {
		content: url(/wp-content/uploads/2020/01/omx_logo_sq32_b.png);
		position: absolute;
		width: 32px;
		height: 32px;
		display: inline-block;
		left: -40px;
		top: 10px;
	}
}
/* Notification bar styling */
@media (min-width:768px) {
	#wpfront-notification-bar .wpfront-message {
		max-width: 1700px !important;
		width: calc(100% - 10px);
	}
	#wpfront-notification-bar span.topbar_left {
		float: left;
	}
	#wpfront-notification-bar span.topbar_right {
		float: right;
	}
}

/* === Site containers or otherwise site-wide styling  */
div#primary {
	margin-bottom: 20px !important;
	padding-bottom: 0 !important;
}
@media (min-width: 1361px) {
	div#primary {
		margin-top: 200px !important;
	}
	.ast-woocommerce-container {
		padding-top: 0px !important;
	}
	.ast-separate-container .ast-article-post, .ast-separate-container .ast-article-single {
		padding: 0px;
		margin-bottom: 20px;
	}
}
/* top padding of main container, same as menu breakpoint in theme options .. */
@media (min-width: 769px) and (max-width: 1360px) {
	div#primary {
		margin-top: 194px !important;
	}
	body:not(.home) article.page {
		padding-top: 30px;
	}
	.ast-flex.main-header-container {
		/* margin-bottom: 11px; */
	}
	.ast-separate-container .ast-article-post, .ast-separate-container .ast-article-single {
		padding: 20px;
	}
}
@media (min-width: 769px) {
	body:not(.home) div#primary {
		padding-top: 20px;
	}
}
@media (min-width: 426px) and (max-width: 768px) {
	div#primary {
		padding-top: 0 !important;
		margin-top: 168px !important;
	}
}
@media (min-width: 371px) and (max-width: 425px) {
	div#primary {
		padding-top: 0 !important;
		margin-top: 164px !important;
	}
}
@media (max-width: 370px) {
	div#primary {
		padding-top: 0 !important;
		margin-top: 160px !important;
	}
}
@media (max-width: 370px) {
	.ast-woocommerce-container { padding-top: 10px !important; }
	.site-branding .site-title { font-size: 2em; }
}

/* Secondary container (left sidebar in this case) */
.ast-left-sidebar #secondary {
    border-right: none !important;
}
.ast-left-sidebar #primary {
    border-left: none !important;
}
div#secondary .product-categories .cat-parent ul.children {
    margin-left: 4px;
    padding-left: 4px;
}
div#secondary .product-categories li.cat-item .current-cat > a, 
div#secondary .product-categories li.cat-item.current-cat > a {
    font-weight: bold;
}
div#secondary h2.widget-title {
    font-size: inherit;
}
.woocommerce ul.product-categories a {
    text-transform: uppercase;
	vertical-align: middle;
}
.woocommerce ul.product-categories > li ul li:before {
	content: "";
    transform: none;
    vertical-align: middle;
    height: 14px;
    width: 14px;
    border: 1px solid #555;
    margin: 0 4px 0 0;
    border-radius: 100%;
}
.woocommerce ul.product-categories > li ul li.current-cat:before {
    background-color: #555;
}
@media (max-width: 768px) {
    div#secondary {
        display: none;
    }
}
@media (min-width: 769px) {
	div#secondary {
		padding-right: 20px !important;
		padding-top: 20px;
	}
}
@media (max-width: 544px) {
	div#secondary {
		padding: 0 1em !important;
	}
}
@media (min-width: 545px) and (max-width: 768px) {
	div#secondary {
		padding: 0 2.14em !important;
	}
}
@media (min-width: 961px) {
	div#secondary {
		margin-top: 200px !important;
	}
}
/* top padding of main container, same as menu breakpoint in theme options .. */
@media (min-width: 769px) and (max-width: 960px) {
	div#secondary {
		margin-top: 194px !important;
	}
}
@media (max-width: 768px) {
	div#secondary {
		/* margin-top: 168px !important; */
	}
}
/* WooBeWoo currency switcher in main menu */
ul#primary-menu .wcuCurrencySwitcherWidget {
    margin-bottom: 0px !important;
}
ul#primary-menu .wcuCurrencySwitcherWidget .chosen-container {
    margin-bottom: 5px;
}
ul#primary-menu .wcuCurrencySwitcherWidget .chosen-container a.chosen-single {
    background: transparent !important;
    border-color: transparent !important;
    padding: 4px 2px;
	font-weight: bold;
}
ul#primary-menu .wcuCurrencySwitcherWidget .chosen-container .chosen-drop {
    border-color: #ddd;
}
ul#primary-menu .wcuCurrencySwitcherWidget .chosen-container ul.chosen-results > li.result-selected, 
ul#primary-menu .wcuCurrencySwitcherWidget .chosen-container ul.chosen-results > li.highlighted {
    background-color: gray !important;
    background-image: none;
}
/* WooBeWoo currency switcher widget in main menu */
@media(max-width:1360px) {
	#primary-menu .wcuCurrencySwitcherWidget > select {
		border: none;
		padding: 12px 20px;
	}
}
/* WooBeWoo currency switcher in sidebar */
.sidebar-main .wcuCurrencySwitcherWidget a.chosen-single {
    background: no-repeat;
    border: 1px solid #ddd !important;
    height: 50px;
    padding: 10px;
}
.sidebar-main .wcuCurrencySwitcherWidget a.chosen-single b {
    margin: 6px 3px;
    height: 36px;
	transition: none;
}
.sidebar-main .wcuCurrencySwitcherWidget .chosen-drop {
    border-bottom: 1px solid #ddd !important;
    border-left: 1px solid #ddd !important;
    border-right: 1px solid #ddd !important;
}
.sidebar-main .wcuCurrencySwitcherWidget div:first-child {
    font-family: Kepler296;
    text-transform: uppercase;
}

/* Social icons in main menu */
@media(max-width:1360px) {
	.omx_social_menu_item {
		width: 30px !important;
		padding: 0 !important;
		height: 34px;
		border-bottom: none !important;
		margin-right: 10px;
	}
	.omx_social_menu_wrapper {
		padding: 0 20px;
		border-bottom: 1px solid #eee;
		height: 54px;
	}
	.omx_social_menu_item > img {
		vertical-align: text-top;
	}
}
@media(min-width:961px) {
	img.menu-image.menu-image-title-hide {
		/* margin-bottom: 6px; */
	}
}

/* === Home Page styling */
.home h1.entry-title {
    text-align: center;
}
.home header.entry-header {
    margin: 5px 0;
}
.home_shop_mx_button > a {
    background-color: #396388c9 !important;
}
.home_shop_mx_cover {
    /* min-height: calc(100vh - 360px); */
}
h2.home_shop_mx_h2 {
    margin: 50px auto;
}
.home_shop_mx_products {
    margin-left: auto !important;
    margin-right: auto !important;
}
.home_shop_mx_products li.wc-block-grid__product {
    margin-bottom: 0 !important;
}
.home_cat_container .wp-block-cover__inner-container {
    position: absolute !important;
    bottom: 30px;
}
.home_cat_container {
    margin-top: 50px;
}
.home_cat_container .wp-block-cover {
    min-height: unset;
    height: unset;
}
.home_cat_container .wp-block-cover:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.home_cat_button > a {
    font-size: 14px !important;
    font-weight: bold;
	background-color: #396388c9 !important;
}
@media (min-width:481px) and (max-width:960px) {
	.home_shop_mx_products .wc-block-grid__product {
		-webkit-box-flex: 1;
		flex: 1 0 50% !Important;
		max-width: 50% !Important;
	}
}
/* Product carousel on home page */
.home_shop_mx_products .wc-block-grid__product-title {
    text-align: center;
	font-family: Kepler296;
	text-transform: uppercase;
}
/* Golden logos on homepage */
.home_golden_logos {
    margin-top: 60px;
}
.home_golden_logos .slick-slide img {
    border: none;
    height: 120px;
    width: 120px;
}
/* How To on homepage */
.home_howtoinstall_2 .wp-block-embed {
    margin: 0;
}
.home_howtoinstall_2 .wp-block-column {
    /* max-width: 600px; */
    width: 50% !important;
}
@media (max-width:781px) {
	.how_to_install_column p {
		text-align: center;
	}
    .home_howtoinstall_2 .wp-block-column.is-vertically-aligned-center {
        flex-grow: 1;
    }
}
/* Testimonials on Home */
.home_testimonials .testimonial.border {
    border: none;
}

/* === Footer styling */
@media (max-width:767px) {
	.footer-adv .menu li {
		text-align: center;
	}
	.footer-adv .textwidget {
		text-align: center;
	}
	.footer-adv .widget_media_image {
		text-align: center;
	}
	#colophon.site-footer h2.widget-title {
		text-align: center;
	}
}
#colophon.site-footer .widget_nav_menu ul ul.sub-menu li {
    padding-left: 10px;
}
#colophon.site-footer .footer-adv-widget-4 > div {
    margin-bottom: 15px;
}
#colophon.site-footer .footer-adv-widget-4 > div#nav_menu-2 {
    font-size: 16px !important;
}

/* === Woocommerce elements */
table.variations {
    border: none !important;
}
form.cart abbr.required {
    text-decoration-line: none;
}
nav.woocommerce-breadcrumb {
    font-size: 10px !important;
	margin-top: 10px !important;
    display: inline-block;
    text-transform: uppercase;
}
.woocommerce-ordering select.orderby {
	border: none;
	background: transparent;
	font-size: 12px;
	padding: 6px;
	font-family: Kepler296;
	text-transform: uppercase;
	color: black;
	vertical-align: bottom !important;
}
.woocommerce-ordering select.orderby > option {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}
.woocommerce-cart-form .variation *, 
form.woocommerce-checkout .variation * {
    font-weight: 100;
    font-size: 14px;
    line-height: 20px;
}
.woocommerce div.product h1.product_title {
    margin-bottom: 5px;
}
.woocommerce div.product div#wccf_product_field_master_container {
    margin-top: 5px;
}
.woocommerce div.product div#wccf_product_field_number_style_container li {
    width: 48%;
    display: inline-block;
}
.woocommerce div.product div#wccf_product_field_master_container li label {
    cursor: pointer;
}
.woocommerce div.product div.images {
    margin-bottom: 0;
}
.woocommerce-cart a.restore-item {
    background-color: #e8bc1f;
    padding: 8px 20px;
    font-weight: bold;
    color: black;
	width: 100%;
	text-align: center;
}
.woocommerce-checkout button#place_order {
    padding: 24px 10px;
    font-size: 18px;
}
.woocommerce-checkout #payment ul.payment_methods li {
    padding: 8px 0;
}
.woocommerce-checkout #payment ul.payment_methods li * {
    vertical-align: middle;
}
.woocommerce-checkout #payment ul.payment_methods a.about_paypal {
    line-height: 30px !important;
}
.woocommerce-cart table.cart td.actions .button {
    margin: 0px !important;
    padding: 9px 12px 10px 12px !important;
}
.woocommerce-cart table.shop_table .product-thumbnail img {
    max-width: 180px;
}
/* ===================================================================================================================================================================== */
body.woocommerce-checkout .woocommerce-shipping-totals.shipping .ship {
    display: inline-block;
}
body.woocommerce-checkout .woocommerce-shipping-totals.shipping .td.ship {
    float: right;
}
body.woocommerce-checkout .woocommerce-shipping-totals.shipping ul#shipping_method li {
    text-align: right;
}
body.woocommerce-checkout .woocommerce-shipping-totals.shipping ul#shipping_method li input, body.woocommerce-checkout .woocommerce-shipping-totals.shipping ul#shipping_method li label {
    vertical-align: middle;
}
body.woocommerce-checkout form.checkout div#order_review {
    padding: 0 5px !important;
}
@media(max-width:374px) {
	body.woocommerce-checkout .woocommerce-shipping-totals.shipping ul#shipping_method li label {
		font-size: 13px;
	}
}
body.woocommerce-checkout .woocommerce-checkout-review-order-table td.product-total, 
body.woocommerce-checkout .woocommerce-checkout-review-order-table th.product-total, 
body.woocommerce-checkout .woocommerce-checkout-review-order-table .cart-subtotal td, 
body.woocommerce-checkout .woocommerce-checkout-review-order-table .order-total td {
    text-align: right !important;
	padding-right: 0;
}
body.woocommerce-checkout .woocommerce-checkout-review-order-table .shipping-options-row  {
	padding-right: 0 !important;
}
body.woocommerce-checkout h3#order_review_heading {
    padding: 20px 0 0 5px !important;
}
/* ===================================================================================================================================================================== */
.woocommerce-cart .woocommerce table.shop_table_responsive tr td::before, 
.woocommerce-cart .woocommerce-page table.shop_table_responsive tr td::before {
    display:none;
}
.woocommerce-cart .cart-subtotal > td, 
.woocommerce-cart .order-total > td {
    text-align: right;
}
.woocommerce-cart #shipping_method > li > * {
    vertical-align: middle;
}
input#terms.input-checkbox {
    display: inline-block;
}
/* ===================================================================================================================================================================== */
header#masthead li.mini_cart_item > dl.variation {
    display: none;
}
header#masthead .woocommerce .widget_shopping_cart .cart_list li a.remove, 
header#masthead .woocommerce.widget_shopping_cart .cart_list li a.remove {
    top: calc(50% - 10px) !important;
}
header#masthead .woocommerce-mini-cart__buttons.buttons > a.button.wc-forward:hover {
    color: #e8bc1f !important;
    background-color: black !important;
}
header#masthead .woocommerce-mini-cart__buttons.buttons > a.button.wc-forward {
    color: black !important;
    background-color: #e8bc1f !important;
}

/* === Product archives styling: */
ul.products li.product a.archive_select_options {
    font-family: Kepler296;
    font-weight: 400;
    text-transform: uppercase;
	font-size: 14px;
}
ul.products li.product .astra-shop-summary-wrap h2 {
    font-family: inherit;
    font-size: small !important;
	margin-bottom: 0 !important;
}
/* Price-range / Select-options animation */
ul.products li.product .product_loop_price_and_range {
    height: 28px;
    overflow: hidden;
}
ul.products li.product .price_loop_div {
    height: 28px;
    transition-duration: .2s;
}
ul.products li.product .price_loop_div a {
    vertical-align: middle;
	font-family: Kepler296;
}
ul.products li.product:hover .price_loop_div {
    transform: translateY(-28px);
}
/* Category pre-footer */
.category_pre_footer {
    padding: 50px 10px;
    /* text-align: center; */
    background-color: #a2a2a2;
}
.category_pre_footer p {
    margin-bottom: 0px;
}
@media (min-width: 1260px) {	
	.category_pre_footer {
		padding-left: calc((100% - 1240px) / 2) !important;
		padding-right: calc((100% - 1240px) / 2) !important;
	}
}
.archive.woocommerce .woocommerce-products-header h1.page-title {
    text-align: center;
    margin-bottom: 0px;
    color: black;
}
.archive.woocommerce .woocommerce-products-header .term-description {
    text-align: center;
    color: #7b7b7b;
    line-height: normal;	
}
.archive.woocommerce .woocommerce-products-header .pwb-brand-description {
    text-align: center;
}
.archive.woocommerce .woocommerce-products-header .term-description p {
    margin-bottom: 0;
}
.archive.woocommerce .woocommerce-products-header {
    margin-bottom: 24px;
	margin-top: 10px;
}

/* === Product page below:  */
/* Hide the "normal" variation price first */
.woocommerce-variation .woocommerce-variation-price {
    display: none;
}
.ast-woocommerce-container .product {
    /* margin-top: 20px !important; */
}
.single-product .product_price_range {
    color: #888;
    font-size: 22px;
    font-family: Kepler296;
}
.tax-product_cat .product_price_range {
    font-size: 16px;
    line-height: 22px;
}
.tax-product_cat .product_price_range a {
    color: #888;
}
.single-product .summary.entry-summary > p {
    display: none;
}
/* The "omx_add_to_cart" div container (added with JS) */
.rightpress_dots {
    color: #e8bc1f;
}
form.cart > dl.rightpress_product_price_live_update, 
form.cart > div.quantity, 
form.cart > button.single_add_to_cart_button {
    display: none !important;
}
div#omx_add_to_cart{
    bottom: 0px;
    z-index: 9999;
    background-color: white;
    padding: 10px 0;
	text-align: center;
}
div#omx_add_to_cart .rightpress_product_price_live_update dd {
    margin: 0;
}
div#omx_add_to_cart dl.rightpress_product_price_live_update {
    overflow: unset !important;
    display: inline-block;
    margin: 0 !important;
    float: right;
}
div#omx_add_to_cart .button.single_add_to_cart_button {
    padding: 12px 14px;
    line-height: 20px;
    display: table-cell;
    vertical-align: middle;
    float: unset;
    height: 45px;
    width: calc(100% - 80px);
	max-width: 250px;
    text-align: left;
    background-color: black;
    color: #e8bc1f;
    border-radius: 3px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 12px;
}
div#omx_add_to_cart .quantity {
    float: none !important;
    display: inline-block;
	vertical-align: middle;
	margin-right: 12px;
}
div#omx_add_to_cart button.single_add_to_cart_button:after {
    content: " ";
    border-right: 1px solid #e8bc1f;
    position: absolute;
    color: transparent;
    bottom: 8px;
    top: 8px;
    right: 44%;
}
div#omx_add_to_cart span.woocommerce-Price-amount {
    color: #e8bc1f;
    font-weight: normal;
}
/* The Quantity box */
div.quantity .minus, div.quantity .plus{
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none;
}
div.quantity input{
	width: 40px !important;
	text-align: center;
	font-size: 20px;
	border: none;
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	-moz-appearance: textfield;
}
div.quantity input::-webkit-outer-spin-button, 
div.quantity input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}
div#omx_add_to_cart .quantity:after {
    content: "Quantity";
    display: block;
    line-height: 0px;
    font-size: 12px;
    margin-bottom: 10px;
	color: #888;
}
#omx_dynamic_price_wrapper .dynamic_price_label {
	display: inline-block;
    margin: 10px 5px 10px 0;
	font-size: 18px;
    font-weight: bold;
}
#omx_dynamic_price_wrapper .dynamic_price_value {
    display: inline-block;
}
#omx_dynamic_price_wrapper .dynamic_price_value dd {
    margin: 0;
}
#omx_dynamic_price_wrapper .dynamic_price_updating {
    font-size: 22px;
    font-weight: bold;
    color: #ccc;
}

/* The OMX_Price display */
.archive ul.products li.product .price {
    margin-top: .4em;
	margin-bottom: 0;
}
.omx_price .sale_price, .omx_price .amount {
    font-weight: normal;
}
.omx_price > del.reg_price {
    margin: 0 6px 0 0;
}
.omx_price > ins.sale_price {
    margin: 0 0 0 8px;
	color: red;
}
.archive .omx_price {
    font-size: 20px;
}
.single-product .omx_price {
    font-size: 26px;
}
.omx_price span.price_separator {
    vertical-align: middle;
    font-weight: 100;
    margin-right: 6px;
    font-size: 18px;
}
.omx_price > .reg_price, .omx_price > .saved_percent, .omx_price > .percent_off, .omx_price > .sale_price {
    vertical-align: middle;
}
.omx_price > .saved_percent, .omx_price > .percent_off {
    font-weight: bold;
}
.omx_price del.reg_price {
    color: #999 !important;
}

/* Style the Rider Name and Number fields in Single Product  */
#wccf_product_field_rider_name_container label, 
#wccf_product_field_rider_name_container input, 
#wccf_product_field_rider_number_container label, 
#wccf_product_field_rider_number_container input {
    display: block;
}
div#wccf_product_field_rider_name_container {
    width: 100%;
    display: inline-block;
}
div#wccf_product_field_rider_number_container {
    width: 100%;
    display: inline-block;
}
span.styled {
    font-size: large;
}
#wccf_product_field_rider_number_container small.wccf_min_max_limit {
    display: none;
}
input#wccf_product_field_rider_number, 
input#wccf_product_field_rider_name {
	line-height: 36px;
    padding: 4px 10px;
	-webkit-font-smoothing: antialiased;
}
input#wccf_product_field_rider_number::placeholder, 
input#wccf_product_field_rider_name::placeholder {
    color:lightgray;
}
/* Style the style-pickers */
div#wccf_product_field_name_style_container {
    width: 100%;
    display: inline-block;
}
div#wccf_product_field_number_style_container {
    width: 100%;
    display: inline-block;
}
div#wccf_product_field_number_style_container label {
    line-height: 34px;
    vertical-align: middle;
}
div#wccf_product_field_number_style_container span.styled.ridernumber {
    overflow: hidden;
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    line-height: 34px;
}
/* Style the color pickers */
div#wccf_product_field_number_color_container {
    width: calc(50% - 0px);
    display: inline-block;
    padding: 0 10px 0 0;
}
div#wccf_product_field_number_plate_color_container {
    width: calc(50% - 0px);
    display: inline-block;
    padding: 0 0 0 10px;
}
input#wccf_product_field_number_plate_color, 
input#wccf_product_field_number_color {
    border-left-width: 50px !important;
}
/* Styling the <small> field description */
.wccf_field_container small {
    height: 24px;
    position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
	transition: all 0.25s cubic-bezier(0.65, 0, 0.26, 0.99);
}
.wccf_field_container small.omx_read_more.omx_expanded {
    height: fit-content !important;
    white-space: normal;
	color: black;
	transition: all 0.25s cubic-bezier(0.65, 0, 0.26, 0.99);
}
/* Using an "after" to display the down/up arrow */
.wccf_field_container small.omx_read_more {
	padding-right:25px;
	color: gray;
	cursor: pointer;
}
.wccf_field_container small.omx_read_more:after {
	content: "";
    bottom: 0px;
    right: 0;
    position: absolute;
    background: white url(/wp-content/uploads/static/triangle_i14_down.png) no-repeat center;
    width: 32px;
    height: 24px;
}
small.omx_read_more.omx_expanded:after {
    background: transparent url(/wp-content/uploads/static/triangle_i14.png) no-repeat center;
    content: "";
}
/* Save & Share Cart button */
.wc-proceed-to-checkout a.save_share_cart-button.button.alt.wc-forward {
    width: 100%;
    text-align: center;
	background-color: #bbb;
}
/* Sale and New product badges */
.products .product .astra-shop-thumbnail-wrap {
    position: relative;
}
.products .product .onsale {
    border-radius: 0;
    transform: rotate(-45deg);
    min-height: 20px !important;
    right: unset !important;
    background-color: black;
    color: #e8bc1f;
    font-weight: bold;
    clip-path: polygon(25% 0, 75% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(25% 0, 75% 0, 100% 100%, 0 100%);
    z-index: 10;
}
@media(min-width:961px) {
	.products .product .onsale {
		width: 98px;
		line-height: 24px !important;
		margin: 14px 0px 0 -23px !important;
		font-size: 18px;
	}
}
@media(max-width:960px) {
	.products .product .onsale {
		width: 72px;
		line-height: 18px !important;
		margin: 10px 0 0 -17px !important;
		font-size: 14px;
		min-height: unset;	
	}
}
.products .product .new_product {
	position: absolute;
	transform: rotate(-45deg);
	background-color: #e8bc1f;
	color: black;
	clip-path: polygon(25% 0, 75% 0, 100% 100%, 0 100%);
	-webkit-clip-path: polygon(25% 0, 75% 0, 100% 100%, 0 100%);
	text-align: center;
	z-index: 9;
	font-weight: bold;
}
@media(min-width:961px) {
	.products .product .new_product {
		width: 98px;
		line-height: 24px !important;
		margin: 14px 0 0 -23px;
		font-size: 18px;
	}
}
@media(max-width:960px) {
	.products .product .new_product {
		width: 71px;
		line-height: 18px !important;
		margin: 10px 0 0 -17px;
		font-size: 14px;
	}
}

/* === Style the checkboxes and radio buttons */
/* RADIO BUTTONS STYLYNG */
input[type='radio'] {
  -webkit-appearance:none;
  width:18px;
  height:18px;
  border:2px solid black;
  border-radius:50%;
  outline:none;
  margin: 0; padding: 0;
}
input[type='radio']:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  border: 1px solid white;  
}
input[type='radio']:checked:before {
  background:#E8BC1F;
}
input[type='radio']:checked {
  border:2px solid black;
}
/* ...AND CHECKBOX STYLING! */
input[type='checkbox'] {
  -webkit-appearance:none;
  width:18px;
  height:18px;
  border:2px solid black;
  border-radius:25%;
  outline:none;
  margin: 0; padding: 0;
  vertical-align: text-top;
}
input[type='checkbox']:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 45%;
  border: 1px solid white; 
}
input[type='checkbox']:checked:before {
  background: #E8BC1F;
}
input[type='checkbox']:checked {
  border:2px solid black;
}
/* Make radio buttons alligned vertically */
div.wccf_field_container li > input[type="radio"] {
    vertical-align: middle;
	cursor: pointer;
}